<template>
  <v-app>

    <!-- Navigation Drawer -->
     <v-navigation-drawer v-model="drawer" :color="color" :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant" :right="right" :src="bg" absolute dark app clipped>
        <v-list dense nav class="py-0">
          <v-list-item two-line :class="miniVariant && 'px-0'">
            <v-list-item-avatar>
              <img src="https://randomuser.me/api/portraits/men/81.jpg">
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>Application</v-list-item-title>
              <v-list-item-subtitle>Subtext</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <!-- Navigating links from router -->
          <v-list-item v-for="item in $router.options.routes" :key="item.name" link
            :to="item.path" :class="{ active: item.path === $router.currentRoute.path }">
            <v-list-item-icon> <v-icon>{{ item.icon }}</v-icon></v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

    <v-app-bar app clipped-right dense color="primary" light short dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>{{$route.path}}</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
      <HelloWorld/>
    </v-content>
    <Footer/>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Footer from './components/Footer';

export default {
  name: 'App',

  components: {
    HelloWorld,
    Footer,
  },
};
</script>
