<template>
  <v-container>
    <Title text="About"/>

    <!-- <v-btn v-on:click="check">Check</v-btn>
    this.$store.state.miniVariant - {{ this.$store.state.miniVariant }} <br>
    {{exists}} {{ type }}
    {{ this.$store.state.systemInfo }} -->
    <TableJSON :kvdata="this.$store.state.systemInfo" />

  </v-container>
</template>

<script>
import TableJSON from '@/components/TableJSON.vue'
import Title from '@/components/Title.vue'

export default {
  name: 'About',
  components: {
    TableJSON,
    Title
  },
  data: () => ({
    exists: null,
    type: typeof 'this.$store.state.miniVariant'
  }),
  methods: {
    check () {
      if (this.$store.state.system_info) {
        this.exists = true
      } else {
        this.exists = false
      }
    }
  },
  mounted () {
    this.$store.dispatch('FETCH_SYSTEMINFO')
  }
}
</script>
