<template>
  <v-container>
    <div v-if="error">
      <Error/>
    </div>
    <div v-else>

      <Title text="CPU PErformance"/>
      <v-card :loading="loading" flat>
        <v-card-text>
          {{items }}
          <!-- Top 5 process By CPU -->
        </v-card-text>
      </v-card>

    </div>
  </v-container>
</template>

<script>
import Error from '@/components/Error.vue'
import { mapState } from 'vuex'
import Title from '@/components/Title.vue'

export default {
  name: 'Cpu',
  components: {
    Error,
    Title
  },
  data: () => ({
    // data: this.$store.state.process_list
  }),
  mounted () {
    this.$store.dispatch('FETCH_CPU')
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      error: state => state.error,
      items: state => state.cpu
    })
  }
}
</script>
