<template>
  <v-container>
    <Title text="Overview"/>

     <v-row>
      <v-col xs="11" sm="6" md="3" v-for="(value, key) in results" :key="key">
        <Card :ban="value" :subtitle="key" :href="'#/' + key"/>
        <!-- <Card :ban="round(value)" :subtitle="key" :href="'#/' + key"/> -->
      </v-col>

      <!-- <v-col d-md-flex d-sm-block d-xs-inline-flex v-for="index in 2" :key="index">
        <Card/>
      </v-col> -->
    </v-row>

  </v-container>
</template>

<script>
// @ is an alias to /src
import Card from '@/components/Card.vue'
import Title from '@/components/Title.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'Home2',
  components: {
    Card,
    Title
  },
  computed: {
    ...mapGetters({
      results: 'getDashboard'
    })
  },
  data () {
    return {
      polling: null
    }
  },
  methods: {
    pollData () {
      this.polling = setInterval(() => {
        this.$store.dispatch('FETCH_DASHBOARD')
      }, 3000)
    }
  },
  beforeDestroy () {
    clearInterval(this.polling)
  },
  created () {
    this.pollData()
  }
}
</script>
