<template>
  <v-container>
  <Title text="Posts"/>

  <!-- Layout is one big row with each column occupying 4 -->
  <v-row>
    <v-col cols="4" v-for="post in posts" :key="post">
      <v-card :loading="loading">
        <v-card-title>
          {{ post.title }} {{ loading }}
        </v-card-title>
        <!-- <v-card-subtitle>
          {{ post.userId }} {{ post.id }}
        </v-card-subtitle> -->
        <v-card-text>
          {{ post.body }}
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>

  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import Title from '@/components/Title.vue'

export default {
  name: 'Posts',
  components: {
    Title
  },
  created () {
    this.$store.dispatch('FTECH_POSTS')
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      posts: state => state.posts
    })
  }
}
</script>
