<template>
  <v-container>
    <!--Proceed ONLY when API is responsive, else handle gracefully   -->
    <div v-if="error">
      <Error/>
    </div>
    <div v-else>

      <!-- <h1 class="display-3"> # {{ data.length }} </h1> -->
      <Title :text="'Process List #' + processes.length"/>

      <v-card :loading="loading" flat>
        <v-card-text>
          <v-data-table calculate-widths dense
            :headers="headers"
            :items="processes"
            :items-per-page="15"
            class="elevation-1"
          ></v-data-table>
        </v-card-text>
      </v-card>
    </div>
<!-- <v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
</v-parallax> -->
  </v-container>
</template>

<script>
import Error from '@/components/Error.vue'
// import axios from 'axios'
// var apiEndpoint = 'http://127.0.0.1:8080/process'
import { mapState } from 'vuex'
import Title from '@/components/Title.vue'

export default {
  name: 'ProcessDataTable',
  components: {
    Error,
    Title
  },
  data: () => ({
    headers: [
      {
        text: 'PID',
        align: 'start',
        sortable: true,
        value: 'pid'
      },
      { text: 'cpu %', value: 'cpu_percent' },
      { text: 'memory %', value: 'memory_percent' },
      { text: 'name', value: 'name' },
      { text: 'created at', value: 'create_time' },
      { text: 'memory info', value: 'memory_info' },
      { text: 'cpu times', value: 'cpu_times' }
    ]
    // data: this.$store.state.process_list
  }),
  mounted () {
    this.$store.dispatch('FETCH_PROCESSES')
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      processes: state => state.process_list,
      error: state => state.error
    })
  }
}
</script>
