<template>
  <v-container>
    <Title text="Settings"/>
    <RowSubhText text="Backend server URL" :value="this.$store.state.api_url"/>
    <RowSubhText text="App sidebar MiniVarient" :value="this.$store.state.miniVariant"/>

      <v-hover v-slot:default="{ hover }">
        <v-icon class="float-right pr-6" color="accent"
         :size="hover ? 100 : 55"> mdi-home </v-icon>
      </v-hover>

    <v-progress-circular
      :rotate="360"
      :size="100"
      :width="20"
      :value="value"
      color="primary"
    >
      {{ value }}
    </v-progress-circular>

  </v-container>
</template>

<script>
// import { mapState } from 'vuex';
import RowSubhText from '@/components/row-subh-text.vue'
import Title from '@/components/Title.vue'

export default {
  name: 'Settings',
  components: {
    RowSubhText,
    Title
  },
  computed: {
    url () {
      return this.$store.state.api_url
    }
  },
  data () {
    return {
      interval: {},
      value: 0
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  mounted () {
    this.interval = setInterval(() => {
      if (this.value === 100) {
        return (this.value = 0)
      }
      this.value += 10
    }, 1000)
  }
}
</script>
