<template>
  <v-card height="150">
    <v-footer absolute class="font-weight-medium" >
    <v-spacer></v-spacer>
      <v-col class="text-center" cols="12" >
        &copy;{{ new Date().getFullYear() }} — <strong>avimehenwal</strong>
        <!-- <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
            <rect width="10" height="10" fill="yellow">
                <animate attributeName="rx" values="0;5;0" dur="5s" repeatCount="indefinite" />
            </rect>
        </svg> -->
      </v-col>

        <!-- <svg viewBox="0 0 10 1">
            <rect width="10" height="1" fill="yellow">
                <animate attributeName="rx" values="0 10;5 5;0 10" dur="10s" repeatCount="indefinite" />
            <animateTransform attributeName="transform" dur="5s" type="translate"
            begin="0s" repeatCount="indefinite" fill="freeze" values="0 2;0 0; 0 2" />
            </rect>
        </svg> -->

    </v-footer>
  </v-card>
</template>

<style>
/* svg { */
    /* background-size: 2000px 3000px; */
    /* border: 3px solid black;
    width: 100vw;
    height: 5vh;
    display: block;
} */
</style>


<script>
export default {
  name: 'Footer',
};
</script>
