<template>
  <v-container>
  
  <v-layout row wrap>
    <v-flex xs12 md4>
      <v-container>
        <v-card class="mx-auto" raised shaped dark>
          <v-img class="white--text align-end" max-height="150"
            src="https://cdn.pixabay.com/photo/2015/03/26/10/58/apple-692186__340.jpg">
        
          </v-img>
          <v-card-title>{{myJson.system_info.platform}} System Information</v-card-title>

          <v-card-text class="text--primary">
            <v-simple-table dense>
              <tbody>
                <tr v-for="(item, key) in myJson.system_info" :key="item">
                  <td>{{key}}</td>
                  <td>{{item}}</td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>

          <v-card-actions>
            <v-btn color="orange" text > Share </v-btn>
            <v-btn color="orange" text > Explore </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-flex>
    
    <v-flex xs12 md4>
      <v-container>
        <v-card class="mx-auto" raised shaped dark>
          <v-img class="black--text align-end" max-height="150"
            src="https://image.shutterstock.com/image-photo/shore-crane-lifts-container-during-260nw-214668493.jpg">
          </v-img>
          <v-card-title>Docker Information</v-card-title>

          <v-card-text class="text--primary">
            <v-simple-table dense>
              <thead>
                <tr>
                  <th class="text-left">Status</th>
                  <th class="text-left">Name</th>
                  <th class="text-left">Id</th>
                </tr>
              </thead>
              <tbody>
                
                <tr v-for="item in myJson.container_list" :key="item.short_id">
                  <div v-if="item.status === 'running'">
                    <v-tooltip left>
                      <template v-slot:activator="{ on }">
                        <td v-on="on" class="green"></td>
                      </template>
                      <span>{{item.status}}</span>
                    </v-tooltip>
                  </div>
                  <div v-else-if="item.status === 'exited'">
                    <v-tooltip left>
                      <template v-slot:activator="{ on }">
                        <td v-on="on" class="secondary"></td>
                      </template>
                      <span>{{item.status}}</span>
                    </v-tooltip>
                  </div>
                  <div v-else>
                    <td>{{item.status}}</td>
                  </div>
                  <td>{{item.name}}</td>
                  <td class="font-weight-thin">{{item.short_id}}</td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>

          <v-card-actions>
            <v-btn color="orange" text > Share </v-btn>
            <v-btn color="orange" text > Explore </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-flex>

    <v-flex xs12 md4>
      <v-container>
        <v-card class="mx-auto" raised shaped>
          <v-img class="black--text align-end" max-height="150"
            src="https://cdn.pixabay.com/photo/2013/06/08/04/17/ferry-boat-123059__340.jpg">
          </v-img>
          <v-card-title>Docker Container Overview</v-card-title>

          <v-card-text class="text--primary">
            <GChart
              type="PieChart"
              :data="pieData"
              :options="pieChartOptions"
              :events="chartEvents"
            />
          </v-card-text>

          <v-card-actions>
            <v-btn color="orange" text > Share </v-btn>
            <v-btn color="orange" text > Explore </v-btn>
          </v-card-actions>
        </v-card>
      </v-container>
    </v-flex>

    <v-flex xs12 md4>
      <v-container>
        <v-card class="mt-4 mx-auto" max-width="400" >
          <v-sheet class="v-sheet--offset mx-auto" color="cyan"
            elevation="12" max-width="calc(100% - 32px)" >
            <v-sparkline :labels="labels" :value="value" color="white"
              line-width="2" padding="16" ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-0">
            <div class="title font-weight-light mb-2">User Registrations</div>
            <div class="subheading font-weight-light grey--text">Last Campaign Performance</div>
            <v-divider class="my-2"></v-divider>
            <v-icon class="mr-2" small > mdi-clock </v-icon>
            <span class="caption grey--text font-weight-light">last registration 26 minutes ago</span>
          </v-card-text>
        </v-card>
      </v-container>
    </v-flex>

    <v-flex xs12 md4>
      <Processes/>
    </v-flex>

    <v-flex xs12 md4>
      <PalletColors/>
    </v-flex>

  </v-layout>

  
  
  <v-chip color="primary" class="font-weight-bold">{{ Object.keys(myJson).length }}</v-chip>
  </v-container>
</template>


<script>
  import json from '../data/data1.json'
  import { GChart } from 'vue-google-charts'
  import Processes from './Processes';
  import PalletColors from './PalletColors';

  export default{
    name: 'HelloWorld',
    components: {
      GChart,
      Processes,
      PalletColors,
    },
    data: () => ({
      myJson: json,
      pieData: [
        ['Status', 'Count'],
        ['running', 1],
        ['exited', 3]
      ],
      pieChartOptions: {
          // title: 'docker containers breakdown based on state',
          // is3D: true,
          // pieHole: 0.4,
          pieStartAngle: -45,
          pieSliceText: 'label',
          slices: {  1: {offset: 0.1},
                    4: {offset: 0.4},
                    6: {offset: 0.6},
          },
          backgroundColor: 'yellow',
          // chartArea:{left:'100%',top:'100%',width:'100%',height:'100%'},
          // fontSize: 16,
          legend: {position: 'bottom', textStyle: {color: 'blue', fontSize: 18}},
      },
      chartEvents: {
        'select': () => {
          // handle event here
        }
      },
      labels: [
        '12am',
        '3am',
        '6am',
        '9am',
        '12pm',
        '3pm',
        '6pm',
        '9pm',
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250,
        240,
      ],
    }),
    // methods : {
    //   piechart_container_data : function () {
    //     var containers = new Object();
    //     for (var item in this.myJson.container_list) {
    //       if (!item.status in containers) {
    //         containers[item.status] = 0;
    //       }
    //       else {
    //         containers[item.status]+=1;
    //       }
    //       console.log(containers);
    //     }
    //   }
    // },
    // created()  {
    //   this.piechart_container_data();
    // }
  }
</script>

<style>
  .v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>