<template>
    <v-card>
        <v-card-title>Total Processes</v-card-title>
        <v-card-text class="display-3">
            <v-icon color="black" large>mdi-laptop</v-icon>
            {{process_num}}
             <v-sparkline color="teal" :value="value" smooth fill></v-sparkline>
        </v-card-text>
    </v-card>
</template>

        <!-- <v-sheet class="v-sheet--offset mx-auto" color="info"
            elevation="12" max-width="calc(100% - 32px)" >
            <v-sparkline :labels="labels" :value="value" color="white"
              line-width="2" padding="16" ></v-sparkline>
          </v-sheet> -->

<script>
  export default {
    data: () => ({
      value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760,
      ],
      process_num: 134
    }),
  }
</script>