<template>
  <v-card :href="{name: 'Home'}">
    <!-- <v-card-title color="grey">docker version</v-card-title> -->
    <v-card-subtitle>Docker version</v-card-subtitle>
    <v-card-text>
      <!-- <v-sparkline
        color="grey"
        :smooth="16"
        :line-width="3"
        :value="value"
        auto-draw
        stroke-linecap="round"
      ></v-sparkline> -->
      <v-simple-table dense>
        <tbody>
          <tr v-for="(item, key) in data" :key="item">
            <div v-if="typeof item === 'string'" >
              <td class="caption">{{ key }}</td>
              <td class="caption"> {{item}}</td>
            </div>
          </tr>
        </tbody>
      </v-simple-table>

    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ProcessCard',
  data: () => ({
  }),
  props: ['data']
}
</script>
