<template>
    <v-card :href="{name: 'Home'}">
      <v-card-title class="display-3" color="red">
        0 / {{ data.length }}
      </v-card-title>
      <v-card-subtitle>docker containers</v-card-subtitle>
      <v-card-text>
        <v-sparkline
          color="grey"
          :smooth="16"
          :line-width="3"
          :value="value"
          auto-draw
          stroke-linecap="round"
        ></v-sparkline>
        <v-simple-table dense>
          <tbody>
            <tr v-for="item in data" :key="item.short_id">
              <td :class="'color: '+(item.status === 'running') ? 'grey' : 'green'"></td>
              <td class="caption">{{ item.name }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
      <v-card-actions>
        <v-btn :to="{ name: 'About' }" text> About</v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
export default {
  name: 'DockerCard',
  data: () => ({
    bas: 345
  }),
  props: ['data']
}
</script>
