<template>
  <v-container>
    <v-card class="mx-auto" color="#26c6da" dark>
        <v-card-title>
          <v-icon large left > mdi-twitter
          </v-icon> <span class="title font-weight-light">Twitter</span>
        </v-card-title>

        <v-card-text class="headline font-weight-bold">
          "Sorry we apologise but currently the API seems to be unresponsive.
          Kindly check if the serve is running or talk to our customer care team."
        </v-card-text>

        <v-card-actions>
          <v-list-item class="grow">
            <v-list-item-avatar color="grey darken-3">
              <v-img
                class="elevation-6"
                src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>Evan You</v-list-item-title>
            </v-list-item-content>

            <v-row align="center" justify="end" >
              <v-icon class="mr-1">mdi-heart</v-icon>
              <span class="subheading mr-2">256</span>
              <span class="mr-1">·</span>
              <v-icon class="mr-1">mdi-share-variant</v-icon>
              <span class="subheading">45</span>
            </v-row>
          </v-list-item>
        </v-card-actions>
      </v-card>

      <v-img src="https://cdn.pixabay.com/photo/2015/03/25/13/04/page-not-found-688965__340.png">

      </v-img>
  </v-container>
</template>

<script>
export default {
  name: 'Error'
}
</script>
