<template>
  <v-card :to="{name: 'Process'}">
    <v-card-title class="display-4">{{ data.length }}</v-card-title>
    <v-card-subtitle>Process Table</v-card-subtitle>
    <v-card-text>
      <!-- <v-sparkline
        color="grey"
        :smooth="16"
        :line-width="3"
        :value="value"
        auto-draw
        stroke-linecap="round"
      ></v-sparkline> -->
      <v-simple-table dense>
        <tbody>
          <tr v-for="index in 10" :key="index">
            <div v-if="typeof data[index].name === 'string'" >
              <td class="caption"> {{ data[index].cpu_percent }}</td>
              <td class="caption">{{ data[index].name }}</td>
            </div>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
    <v-card-actions><v-btn :to="{name: 'Process'}" text color="info">Details >></v-btn></v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProcessCard',
  data: () => ({
  }),
  props: ['data']
}
</script>
