<template>
  <v-card :href="{name: 'Home'}">
    <v-card-title class="display-3" color="grey">{{bfn}}</v-card-title>
    <v-card-subtitle>System information</v-card-subtitle>
    <v-card-text>
      <v-sparkline
        color="grey"
        :smooth="16"
        :line-width="3"
        :value="value"
        auto-draw
        stroke-linecap="round"
      ></v-sparkline>
      <br>
      <v-simple-table dense>
        <tbody>
          <tr v-for="(item, key) in data" :key="item">
            <td class="caption">{{ key }}</td>
            <td class="caption"> {{item}}</td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>

<script>
// console.log(this.$router)

export default {
  name: 'SystemCard',
  data: () => ({
    value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],
    bfn: 1237
  }),
  props: ['data']
  // methods: {
  //   getURL: this.$router.Home
  // }

}
</script>
