<template>
  <v-app :style="{'background-image':'url(https://cdn.vuetifyjs.com/images/parallax/material.jpg)'}">
    <!-- Menubar Navigation drawer -->
    <v-navigation-drawer dark app v-bind:miniVariant="this.$store.state.miniVariant">

      <v-list nav dense>
        <v-list-item three-line to="/">
          <v-list-item-avatar color="primary">
            <!-- <span class="white--text headline">62</span> -->
            <v-icon large>mdi-account-circle</v-icon>
            <!-- <img src="https://randomuser.me/api/portraits/men/81.jpg"> -->
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Application</v-list-item-title>
            <v-list-item-subtitle>v0.1.1</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>

        <!-- Navigating links from router -->
        <v-list-item v-for="item in $router.options.routes" :key="item.name" link
          :to="item.path" :class="{ active: item.path === $router.currentRoute.path }">
          <v-list-item-icon> <v-icon>{{ item.icon }}</v-icon></v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list nav>
        <v-list-item-content dense>
          <v-switch label="Minimize" :value="varient" @change="toggle"></v-switch>
        </v-list-item-content>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  methods: {
    toggle () {
      this.$store.dispatch('toggleSidebar')
      // console.log(this.$store.state.miniVariant);
    }
  },
  computed: {
    ...mapState({
      varient: state => state.miniVariant
    })
  }
}
</script>

<style class="scoped">
</style>
