<template>
  <v-hover v-slot:default="{ hover }">
    <v-card :href="href" :loading="loading" hover shaped>

      <span v-if="ban.count">
        <v-card-title class="display-1"> {{ ban.count }} </v-card-title>
      </span>

      <span v-else-if="ban.total">
        <v-card-title class="display-1"> {{ ban.active }} / {{ban.total}} </v-card-title>
      </span>

      <span v-else>
        <!-- <v-card-title class="display-1"> {{ ban.percent }}% </v-card-title> -->
        <v-container>
          <v-progress-circular rotate="360" size="90" width="10" :value="ban.percent"
          :color="hover ? 'secondary': 'primary'">
            <!-- Add filter to reoundoff percentage -->
            {{ ban.percent }}%
          </v-progress-circular>
        </v-container>
      </span>

      <v-icon class="float-right pr-6"
        :color="hover ? 'warning' : 'accent'" :size="hover ? 60 : 50">
      {{ icons[subtitle] }} </v-icon>
      <!-- <v-icon class="float-right pr-6" color="accent" size="55">{{ icons[subtitle] }}</v-icon> -->
      <v-card-subtitle>{{ subtitle }}</v-card-subtitle>

      <v-card-text class="text-right">     {{ body     }} </v-card-text>
      <!-- <v-card-text>     {{ body     }} </v-card-text> -->
      <!-- <v-card-actions>
        <v-btn>{{ actions }}</v-btn>
      </v-card-actions> -->
    </v-card>
  </v-hover>
</template>

<script>
// BAN: big ass number
// Render card-text ONLY when there is some body
import { mapState } from 'vuex'

export default {
  name: 'Card',
  props: {
    href: { default: '#/about' },
    ban: { default: 678 },
    subtitle: { default: 'Processes' },
    body: { default: null },
    actions: { default: 'Details >>' }
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      error: state => state.error
    })
  },
  data: function () {
    return {
      icons: {
        cpu: 'mdi-cpu-64-bit',
        battery: 'mdi-battery',
        memory: 'mdi-memory',
        process: 'mdi-chart-timeline',
        swap: 'mdi-file-swap',
        disk: 'mdi-server',
        network: 'mdi-download-network',
        users: 'mdi-account'
      },
      active: false,
      interval: {}
    }
  },
  beforeDestroy () {
    clearInterval(this.interval)
  },
  mounted () {
    this.interval = setInterval(() => {
      if (this.value === 100) {
        return (this.value = 0)
      }
      this.value += 10
    }, 1000)
  }
}
</script>
