<template>
  <v-row>
    <v-col cols="4">
      <v-subheader>{{text}}</v-subheader>
    </v-col>
    <v-col cols="7">
      <v-text-field :value="value"></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'RowSubhText',
  props: [
    'text',
    'value'
  ]
}
</script>
