<template>
<v-container>
  <v-row d-xs-flex d-md-flex>
  <v-card dense :loading="loading">
    <v-simple-table dense>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(value, key) in kvdata" :key="key" @click="link(value)">
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </v-simple-table>
  </v-card>
  </v-row>
</v-container>
</template>

<script>
export default {
  name: 'TableJSON',
  props: ['kvdata'],
  data: function () {
    return {
      loading: true
    }
  },
  methods: {
    link (value) {
      var google = 'https://www.google.com/search?q=' + value
      window.open(google, '_blank')
    }
  }
}
</script>
