<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title> This is an about page </v-card-title>
          <v-card-text>Some text</v-card-text>
          <v-card-action>
            <v-btn>Button 1</v-btn>
            <v-btn>Button 2</v-btn>
          </v-card-action>
        </v-card>
      </v-col>
    </v-row>

    <!-- SVG in footer NOT working -->
  </v-container>
</template>
