<template>
  <v-container>
    <HelloWorld msg="Welcome to Your Vue.js App"/>

    <!-- Layout -->
    <v-row>
      <v-col cols="4" sm=12 md=4>
        <SystemCard :data="wholeResponse.system_info"></SystemCard>
      </v-col>
      <v-col cols="4" sm=12 md=4>
        <DockerCard :data="wholeResponse.containers"></DockerCard>
      </v-col>
      <v-col cols="4" sm=12 md=4>
        <ProcessCard :data="wholeResponse.process_list"></ProcessCard>
      </v-col>
      <v-col cols="4" sm=12 md=4>
        <DockerVersion :data="wholeResponse.version"></DockerVersion>
      </v-col>
    </v-row>

  <!-- <v-text-field :value="xs"></v-text-field>
  <v-text-field :value="sm"></v-text-field>
  <v-text-field :value="md"></v-text-field>
    {{xs}} {{sm}} {{md}}
    <br> -->

    <!-- {{ wholeResponse }} -->
  </v-container>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import SystemCard from '@/components/SystemCard.vue'
import DockerCard from '@/components/DockerCard.vue'
import ProcessCard from '@/components/ProcessCard.vue'
import DockerVersion from '@/components/DockerVersion.vue'

import axios from 'axios'

var apiEndpoint = 'http://127.0.0.1:8080/'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    SystemCard,
    DockerCard,
    ProcessCard,
    DockerVersion
  },
  data () {
    return {
      wholeResponse: [],
      loading: true,
      xs: 12,
      sm: 12,
      md: 4,
      value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],
      apiError: false
    }
  },
  mounted () {
    axios
      .get(apiEndpoint)
      .then(response => {
        this.wholeResponse = response.data
      })
      .catch(error => {
        console.log(error)
        this.apiError = true
      })
  }
}
</script>
