<template>
  <v-container dense>
    <div v-if="apiError"> <Error/> </div>
    <div v-else>
      <!-- <h1 class="display-3"> {{ Object.keys(data).length }}</h1> -->
      <v-card outlined >
        <v-row>
          <v-col cols="8">
            <v-list-item>
              <v-list-item-content>
                <div class="overline mb-4">
                  System up since
                  <v-icon class="mr-2" small > mdi-clock </v-icon>
                  <strong class="blue--text">{{ data.boot_time | moment("from") }}</strong>
                </div>
                <v-list-item-title class="headline mb-1">Active sessions</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-col>
          <v-col cols="1">
            <div class="display-4">{{ (this.data.users).length }}</div>
          </v-col>
        </v-row>

        <v-card-text>
          <v-simple-table dense>
            <thead>
              <tr>
                <th>user</th>
                <th>terminal</th>
                <th>pid</th>
                <th>started</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in data.users" :key="item">
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[3] | moment("from") }}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card-text>

          <!-- <v-list-item-avatar tile size="80" color="grey" >{{ Object.keys(data.users).length }}</v-list-item-avatar> -->
        <v-card-actions>
          <v-btn text>Details ></v-btn>
        </v-card-actions>
      </v-card>

      <!-- {{ data }} -->
    </div>
  </v-container>
</template>

<script>
import Error from '@/components/Error.vue'
import axios from 'axios'
var apiEndpoint = 'http://127.0.0.1:9090/mon/'

export default {
  name: 'Monitor',
  components: {
    Error
  },
  data: () => ({
    data: {},
    apiError: false
  }),
  mounted () {
    axios
      .get(apiEndpoint)
      .then(response => {
        this.data = response.data
      })
      .catch(error => {
        console.log(error)
        this.apiError = true
      })
  }
}
</script>
