<template>
  <v-container>
    <!-- Proceed ONLY when API is responsive, else handle gracefully   -->
    <div v-if="apiError">
      <Error/>
    </div>
    <div v-else>
      <h1 class="display-3"> # {{ data.length }} </h1>
      <v-data-table calculate-widths dense
        :headers="headers"
        :items="data"
        :items-per-page="15"
        class="elevation-1"
      ></v-data-table>
    </div>
  </v-container>
</template>

<script>
import Error from '@/components/Error.vue'
import axios from 'axios'
var apiEndpoint = 'http://127.0.0.1:8080/process'

export default {
  name: 'ProcessDataTable',
  components: {
    Error
  },
  data: () => ({
    headers: [
      {
        text: 'PID',
        align: 'start',
        sortable: true,
        value: 'pid'
      },
      { text: 'cpu %', value: 'cpu_percent' },
      { text: 'memory %', value: 'memory_percent' },
      { text: 'name', value: 'name' },
      { text: 'created at', value: 'create_time' },
      { text: 'memory info', value: 'memory_info' },
      { text: 'cpu times', value: 'cpu_times' }
    ],
    data: [],
    apiError: false
  }),
  mounted () {
    axios
      .get(apiEndpoint)
      .then(response => {
        this.data = response.data.process_list
      })
      .catch(error => {
        console.log(error)
        this.apiError = true
      })
  }
}
</script>
